{% extends 'base.html'%}

{% block head %}
<title>Arsenal Roster</title>
<!--Title of the edit page of the website-->
{% endblock %}

{% block body %}
<br>
<br>
<br>
<div>
    <h1 style="display:inline" class="mt-0 mb-1">Arsenal Roster</h1>
    <a class="btn btn-primary float-right" href="/roster/stats">View Stats</a>
</div>

<hr>
<h2 class="mt-0 mb-1">Goalkeepers</h2>
<hr>

<ul class="list-unstyled">
    <li class="media">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Leno_1045x658_0.jpg?itok=wG2m32hE
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#1 Bernd Leno</h5>
            <p class="mt-0 mb-1">Age: 29</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-5/GER?tx=c_fill,g_auto,q_auto,w_500" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Runarsson_Website_profiles_1045x658%20%281%29.jpg?itok=wDRevACo
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#13 Runar Alex Runarsson</h5>
            <p class="mt-0 mb-1">Age: 26</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ISL?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Ramsdale_1100x693.jpg?itok=72VbJsrC
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#32 Aaron Ramsdale</h5>
            <p class="mt-0 mb-1">Age: 23</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Okonkwo_1045x658_0.jpg?itok=lS7nc7qS
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#33 Arthur Okonkwo</h5>
            <p class="mt-0 mb-1">Age: 19</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>

    <hr>
    <h2 class="mt-0 mb-1">Defenders</h2>
    <hr>

    <li class="media">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Bellerin_1045x658_1.jpg?itok=95vIilIJ
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#2 Hector Bellerin</h5>
            <p class="mt-0 mb-1">Age: 26</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ESP?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Tierney_1045x658_0.jpg?itok=mjvpH5MI
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#3 Kieran Tierney</h5>
            <p class="mt-0 mb-1">Age: 24</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SCO?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/BWheadshot.jpg?itok=lcupj7RY
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#4 Ben White</h5>
            <p class="mt-0 mb-1">Age: 23</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Gabriel_1045x658%5B2%5D_0.jpg?itok=fNg6wu1H
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#6 Gabriel Magalhaes</h5>
            <p class="mt-0 mb-1">Age: 23</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Holding_1045x658_1.jpg?itok=XIaOHApS
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#16 Rob Holding</h5>
            <p class="mt-0 mb-1">Age: 25</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Cedric_1045x658.jpg?itok=xU_1Fc1f
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#17 Cedric Soares</h5>
            <p class="mt-0 mb-1">Age: 29</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/POR?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Tavares_1045x658.jpg?itok=3lSYn9jf
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#20 Nuno Tavares</h5>
            <p class="mt-0 mb-1">Age: 21</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/POR?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Chambers_1045x658_1.jpg?itok=wA5pL65i
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#21 Calum Chambers</h5>
            <p class="mt-0 mb-1">Age: 26</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Mari_1045x658_0.jpg?itok=_1TocO0l
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#22 Pablo Mari</h5>
            <p class="mt-0 mb-1">Age: 27</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ESP?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Kolasinac_1045x658_1.jpg?itok=6-Z2aoQ4
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#31 Sead Kolasinac</h5>
            <p class="mt-0 mb-1">Age: 28</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BIH?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>

    <hr>
    <h2 class="mt-0 mb-1">Midfielders</h2>
    <hr>

    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Partey_1045x658.jpg?itok=iH5rRkLH
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#5 Thomas Partey</h5>
            <p class="mt-0 mb-1">Age: 28</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/GHA?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Saka_1045x658_0.jpg?itok=Tx1tc5do
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#7 Bukayo Saka</h5>
            <p class="mt-0 mb-1">Age: 19</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Odegaard_1100x693.jpg?itok=x2b8YVH3
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#8 Martin Odegaard</h5>
            <p class="mt-0 mb-1">Age: 22</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-5/NOR?tx=c_fill,g_auto,q_auto,w_500" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/SmithRowe_1045x658_0.jpg?itok=WrR5kR6L
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#10 Emile Smith-Rowe</h5>
            <p class="mt-0 mb-1">Age: 21</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/MaitlandNiles_1045x658_0.jpg?itok=17OnUAR0
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#15 Ainsley Maitland-Niles</h5>
            <p class="mt-0 mb-1">Age: 23</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Lokonga_1045x658.jpg?itok=m81-0sRj
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#23 Albert Sambi Lokonga</h5>
            <p class="mt-0 mb-1">Age: 21</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-5/BEL?tx=c_fill,g_auto,q_auto,w_500" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Elneny_1045x658_2.jpg?itok=yuclvt7G
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#25 Mohamed Elneny</h5>
            <p class="mt-0 mb-1">Age: 29</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/EGY?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Xhaka_1045x658_1.jpg?itok=xl0qGW_D
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#34 Granit Xhaka</h5>
            <p class="mt-0 mb-1">Age: 28</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/SUI?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>

    <hr>
    <h2 class="mt-0 mb-1">Forwards</h2>
    <hr>

    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Lacazette_1045x658_1.jpg?itok=rpE-7T4U
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#9 Alexandre Lacazette</h5>
            <p class="mt-0 mb-1">Age: 30</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/FRA?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Aubameyang_1045x658_0.jpg?itok=FhDWuQfN
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#14 Pierre-Emerick Aubameyang</h5>
            <p class="mt-0 mb-1">Age: 32</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/GAB?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Pepe_1045x658.jpg?itok=t71xsJoY
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#19 Nicolas Pepe</h5>
            <p class="mt-0 mb-1">Age: 26</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/CIV?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Nelson_1045x658_0.jpg?itok=HOswozcm
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#24 Reiss Nelson</h5>
            <p class="mt-0 mb-1">Age: 21</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Nketiah_1045x658_2.jpg?itok=kOo3r6Lw
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#30 Eddie Nketiah</h5>
            <p class="mt-0 mb-1">Age: 22</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/ENG?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>
    <li class="media my-4">
        <img class="mr-3"
            src=https://www.arsenal.com/sites/default/files/styles/player_featured_image_1045x658/public/images/Martinelli_1045x658_0.jpg?itok=NrQfxkyS
            height=60 width=75>
        <div class="media-body">
            <h5 class="mt-0 mb-1">#35 Gabriel Martinelli</h5>
            <p class="mt-0 mb-1">Age: 20</p>
        </div>
        <div style="text-align: right;"><img src="https://cloudinary.fifa.com/api/v1/picture/flags-sq-2/BRA?tx=c_fill,g_auto,q_auto,w_70" height = 55 width = 75></div>
    </li>



</ul>

{% endblock %}